**Read Data from JSON**

In [6]:
fd=open("record.json",'r')
r=fd.read()
fd.close()

In [11]:
!pip install simplejson

Requirement already satisfied: simplejson in /usr/local/lib/python3.7/dist-packages (3.17.5)

In [14]:
str='json'

In [16]:
import json

In [19]:
record=json.loads(r)

In [20]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10}}

**Add New Item into Inventory**

In [22]:
prod_id=(input("enter product id:"))
name=(input("enter name:"))
pr=int(input("enter price:"))
qn=int(input("enter quantity:"))

record[prod_id]={'name':name,'pr':pr,'qn':qn}
js=json.dumps(record)
fd=open("record.json",'w')
fd.write(js)
fd.close()

enter product id:1001
enter name:chococake
enter price:100
enter quantity:1

In [23]:
record

{'1001': {'name': 'chococake', 'pr': 100, 'qn': 1},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10}}

In [24]:
del record['1001']

In [25]:
record

{'1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10}}